* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

p {
  font-family: ykw, sans-serif;
}

button {
  font-family: ykw, sans-serif;
}

