@font-face {
  font-family: ykw;
  src: url('/fonts/ChangaOne-Regular.ttf');
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg {
  object-fit: cover;
  z-index: 0;
}

.dialogPortrait {
  position: absolute;
  height: 100%;
  width: 40%;
  left: 10%;
  top: 10%;
  z-index: 1;
}

.homePanel {
  position: absolute;
  top: -5%;
  left: 40%;
  height: 110%;
  width: 60%;
  z-index: 2;
}

.logo {
  position: absolute;
  top: 0%;
  left: 56.5%;
  height: 50%;
  width: 40%;
  z-index: 3;
}

.battleButton {
  font-family: ykw, sans-serif;
  font-size: 3vw;
  border: 4px solid transparent;
  border-image: linear-gradient(45deg, #FFB8E0, #80c6ff);
  border-image-slice: 1;
  background-color: rgb(255, 255, 255);
  color: rgb(40, 24, 76);
  position: absolute;
  height: 10%;
  width: 25%;
  left: 65%;
  top: 50%;
  z-index: 4;
  cursor: pointer;
}

.teambuilderButton {
  font-family: ykw, sans-serif;
  font-size: 3vw;
  border: 4px solid transparent;
  border-image: linear-gradient(45deg, #FFB8E0, #80c6ff);
  border-image-slice: 1;
  background-color: rgb(255, 255, 255);
  color: rgb(40, 24, 76);
  position: absolute;
  height: 10%;
  width: 25%;
  left: 70%;
  top: 65%;
  z-index: 4;
  cursor: pointer;
}

.toggleMusic {
  position: absolute;
  height: 10%;
  width: 5%;
  top: 90%;
  left: 2%;
  z-index: 5;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.startMenu {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 10;
  cursor: pointer;
}

.startText {
  font-family: ykw, sans-serif;
  font-size: 4vw;
  position: absolute;
  left: 28%;
  top: 70%;
  margin: 0;
}

.padTrans {
  display: none;
  object-fit: cover;
  z-index: 15;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
