@font-face {
  font-family: ykw;
  src: url('/fonts/ChangaOne-Regular.ttf');
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container p {
  font-family: ykw, sans-serif;
  color: #fff;
  text-shadow:
    -5px -5px 0 #7babff,
    5px -5px 0 #93bcff,
    -5px 5px 0 #ffa8f9,
    5px 5px 0 #ffadf7;
}

.bg {
  object-fit: cover;
  z-index: 0;
}

.logo {
  position: absolute;
  top: 0%;
  left: 56.5%;
  height: 50%;
  width: 40%;
  z-index: 3;
}

.dialogPortrait {
  position: absolute;
  height: 100%;
  width: 40%;
  left: 1%;
  top: 10%;
  z-index: 1;
}

.countdown {
  position: absolute;
  font-size: 10vw !important;
  top: 35%;
  left: 40%;
  z-index: 4;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
